body {
    background: white;
}
#infoPage {
    display: none;
}
#Dusername {
    display: none;
    opacity: 0;
}
#header {
    /* where our nav buttons are located */
    display: flex;
    width: 100%;
    height: 90px;
    margin-left: -15px;
    background-color: white;
    border-bottom: grey 2px solid;
}
#cornerlogo {

    width: 90px;
    height: 90px;
}
/* resize our logo image */
img {
    margin-left: 15px;
    width: 90px;
    height: 90px;
}
#navArea {
    /* border: red solid 3px; */
    width: 100%;
    /* We can seperate the nav buttons from the logo */
    /* display flex here */
    display: flex;
    justify-content: flex-end;
}
#navContainer {
    display: flex;
    /* border:red solid 3px; */
}
.navButtons {
    /*  our nav buttons here */
    width: 100px;
    height: 40px;
    /* this is to get the words in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
    /* our border here */
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    color:turquoise;
}
.navButtons:hover {
    /* when you hover */
    opacity: 0.5;
    background-color:teal;
    color: white;
    border-bottom: blue solid 3px;
}
a {
    text-decoration: none;
}
#image {
    /* border: red 5px solid; */
    height: 400px;
    margin-left: -5px;
    width: 100%;
    display: flex;
    border-bottom: grey solid 2px;
}
#BannerImg1 {
    width: 52%;
    height: 400px;
    margin-left: -5px;
    padding-right: -10px;
    margin-right: -18px
}
#BannerImg2 {
    width: 52%;
    height: 400px;
    margin-left: 5px;
    margin-right: -15px;
}
#profile {
    /* border: red 5px solid; */
    padding-top: 5px;
    width: 100%;
    height: 100px;
    text-align: center;
}
#myImage {
    border: blue 3px solid;
    /* width: 90px; */
    /* height: 90px; */
    border-radius: 150px;
}
#Aboutme {
    /* border: red 5px solid; */
    height: 300px;
}
#Title {
    /* border: red 5px solid; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
#aboutMeText {
    /* border: red solid 3px; */
    display: flex;
    justify-content: space-around;
}
.myInfo {
    margin: 10px;
    /* border: red 5px solid; */
    border-radius: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#schoolText, #cultureText, #ASCtext {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(53, 157, 218);
    padding: 5px;
}
.aboutMeimg {
    margin-top: 5px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}
.aboutMeimg:hover {
    opacity: 0.5;
    border: blue solid 3px;
}
#infoPage {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#infoPage div, #infoPage div a {
    color: rgb(53, 157, 218);
    font-size: 24px;
}
#buttonContainer {
    display: flex;

}
button {
    background-color: teal;
    color: white;
    font-weight: bold;
    height: 50%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;

}
button:hover {
    opacity: 0.7;
}
#blurb {
border-bottom: grey solid 2px;
display: flex;
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
justify-content: center;
color: rgb(53, 157, 218);
}
@media (min-wdith: 60px) {
    .navButtons {
        width: 100px;
    }
    body {
        background-color: yellow;
    }
    
}